<div class="container">
    <h1> ¿Qué pretende evaluar esta práctica? </h1>

    <p>En esta práctica vamos a utilizar todo lo que hemos aprendido hasta ahora:</p>
    <ul>
        <li> HTML </li>
        <li> CSS</li>
        <li> Bootstrap</li>
        <li> Angular </li>
    </ul>


    <h2>Para empezar a digitalizar un hipotético negocio familiar de venta de ropa.</h2>

    <p>¿Qué debes utilizar? </p>

    <p>Debes utilizar todo lo que te hemos enseñado para conseguir una página que nos sorprenda.</p>
    <ul>
        <li>HTML, HTML5</li>
        <li>CSS, CSS3, animaciones</li>
        <li>Componentes anidados</li>
        <li>Módulos</li>
        <li>Enrutamiento</li>
        <li>Pipes</li>
        <li>Peticiones HTTP “mockeadas”</li>
        <li>…. </li>
    </ul>
</div>